In [1]:
import requests
import pandas as pd
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [40]:
def get_financial_statements(code):
    url = "http://companyinfo.stock.naver.com/v1/company/ajax/cF1001.aspx?cmp_cd=%s&fin_typ=0&freq_typ=Y" % (code)
    html = requests.get(url).text


    html = html.replace('<th rowspan="2" class="r03c00 bg" style="width:125px">주요재무정보</th>', "")
    html = html.replace('<th class="bg r01c02 endLine line-bottom"colspan="8">연간</th>', "")
    html = html.replace("<span class='span-sub'>(IFRS연결)</span>", "")

    html = html.replace('\t', '')
    html = html.replace('\n', '')
    html = html.replace('\r', '')

    df_list = pd.read_html(html, index_col=0)
    df = df_list[0]

    return df

In [41]:
df = get_financial_statements('035720')

In [42]:
df.head(5)

,2013/12,2014/12,2015/12,2016/12,2017/12(E),2018/12(E),2019/12(E),Unnamed: 8
2012/12,,,,,,,,
매출액,4534.0,2108.0,4989.0,9322.0,14642.0,19069.0,21831.0,24552.0
영업이익,1018.0,659.0,1764.0,886.0,1161.0,1775.0,2460.0,3233.0
영업이익(발표기준),1018.0,818.0,1764.0,886.0,1161.0,NaN,NaN,NaN
세전계속사업이익,1009.0,604.0,1688.0,1095.0,1003.0,1408.0,2216.0,2995.0
당기순이익,766.0,614.0,1498.0,788.0,655.0,1290.0,1658.0,2244.0

In [36]:
df.columns

Index(['2013/12', '2014/12', '2015/12', '2016/12', '2017/12(E)', '2018/12(E)',
       '2019/12(E)', 'Unnamed: 8'],
      dtype='object')

In [31]:
columns =  df.columns[:-1]
columns = columns.insert(-1, '항목')

In [50]:
col = pd.date_range('201212', periods=8, freq='12M')
col

DatetimeIndex(['2012-12-31', '2013-12-31', '2014-12-31', '2015-12-31',
               '2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31'],
              dtype='datetime64[ns]', freq='12M')

In [51]:
df.columns = col
df.head(5)

,2012-12-31 00:00:00,2013-12-31 00:00:00,2014-12-31 00:00:00,2015-12-31 00:00:00,2016-12-31 00:00:00,2017-12-31 00:00:00,2018-12-31 00:00:00,2019-12-31 00:00:00
2012/12,,,,,,,,
매출액,4534.0,2108.0,4989.0,9322.0,14642.0,19069.0,21831.0,24552.0
영업이익,1018.0,659.0,1764.0,886.0,1161.0,1775.0,2460.0,3233.0
영업이익(발표기준),1018.0,818.0,1764.0,886.0,1161.0,NaN,NaN,NaN
세전계속사업이익,1009.0,604.0,1688.0,1095.0,1003.0,1408.0,2216.0,2995.0
당기순이익,766.0,614.0,1498.0,788.0,655.0,1290.0,1658.0,2244.0